.logout-icon {
  margin-left: auto;
}

.content-wrapper {
  width: 100%;

  .content {
    width: 800px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
  }

  .logout-button {
    margin-top: 50px;
    width: 150px;
    text-transform: uppercase;
  }
}