<mat-toolbar color="primary">
  <span>Angular Test App</span>
  <button mat-icon-button class="logout-icon" aria-label="Logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="content-wrapper">
  <div class="content">
    <h1>You are welcome!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a massa sapien. Nullam eros sem, fermentum et ex et, egestas cursus turpis. Integer arcu augue, ornare ut orci in, pharetra ultricies mi. Vivamus quis efficitur elit, sit amet convallis neque. Vestibulum pellentesque tempus purus, vitae ullamcorper velit lobortis sit amet. Mauris rhoncus ultrices urna. Suspendisse sit amet magna tempor, aliquam risus in, sagittis magna. Nam eget lacus non metus imperdiet convallis eu et dui. Nullam elementum pretium est, id iaculis erat ornare ut. Nam ac diam nec massa finibus cursus.
    </p>
    <button mat-flat-button color="primary" (click)="logout()" class="logout-button">
      Logout
    </button>
  </div>
</div>